@using Elastic.ApiExplorer.Landing
@using Elastic.ApiExplorer.Operations
@using Elastic.ApiExplorer.Components.PropertyTree
@using Microsoft.OpenApi
@inherits RazorSliceHttpResult<Elastic.ApiExplorer.Operations.OperationViewModel>
@implements IUsesLayout<Elastic.ApiExplorer._Layout, ApiLayoutViewModel>
@functions {
	public ApiLayoutViewModel LayoutModel => Model.CreateGlobalLayoutModel();
}
@{
	var operation = Model.Operation.Operation;
	var pageModel = Model.Page;
}

<section id="elastic-api-v3">
	<h1>
		@operation.Summary
		@if (operation.Deprecated is true)
		{
			<span class="deprecated-badge">deprecated</span>
		}
		@if (pageModel.IsBeta)
		{
			<span class="beta-badge">Beta</span>
		}
	</h1>
	@if (pageModel.Availability is not null)
	{
		<p class="applies applies-block">
			@(await RenderPartialAsync<_AppliesToBadge, AppliesToBadgeDisplay>(new AppliesToBadgeDisplay(pageModel.Availability, IsInline: false)))
		</p>
	}
	@if (pageModel.Servers is { Count: > 0 })
	{
		<div class="server-info">
			<span class="server-label">Server@(pageModel.Servers.Count > 1 ? "s" : ""):</span>
			@foreach (var server in pageModel.Servers)
			{
				<span class="server-url">
					<code>@server.Url</code>
					@if (!string.IsNullOrEmpty(server.Description))
					{
						<span class="server-description">(@server.Description)</span>
					}
				</span>
			}
		</div>
	}

	@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader("Paths", "paths", Model.Operation.Route)))
	<ul class="api-url-listing">
		@foreach (var overload in pageModel.Overloads)
		{
			var method = overload.Model.OperationType.ToString().ToLowerInvariant();
			var current = overload.Model.Route == Model.Operation.Route && overload.Model.OperationType == Model.Operation.OperationType ? "current" : "";
			var isDeprecated = overload.Model.Operation?.Deprecated == true;
			<li class="api-url-list-item @(isDeprecated ? "deprecated" : "")">
				<a href="@overload.Url" class="@current" hx-disable="true">
					 <span class="api-method api-method-@method">@method.ToUpperInvariant()</span>
					 <span class="api-url @(isDeprecated ? "deprecated-path" : "")">@overload.Model.Route</span>
					 @if (isDeprecated)
					 {
						 <span class="deprecated-badge">deprecated</span>
					 }
				</a>
			</li>
		}
	</ul>
	@{
		var prerequisiteLines = Model.RequiredAuthItems;
	}
	@if (prerequisiteLines is { Count: > 0 })
	{
		@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader("Prerequisites", "prerequisites", Model.Operation.Route)))
		<ul class="prerequisite-list">
		@foreach (var line in prerequisiteLines)
		{
			<li>@Model.RenderMarkdown(line)</li>
		}
		</ul>
	}
	@if (pageModel.PathParameters.Count > 0)
	{
		<h4>Path Parameters</h4>
		<dl class="property-list">
		@foreach (var path in pageModel.PathParameters)
		{
			<div class="path-param @(path.Deprecated is true ? "deprecated" : "")">
				<dt id="path-@path.Name">
					<a href="#path-@path.Name">
						<code>@path.Name</code>
						@if (path.Deprecated is true)
						{
							<span class="deprecated-badge">deprecated</span>
						}
					</a>
				</dt>
				<dd>@Model.RenderMarkdown(path.Description)</dd>
			</div>
		}
		</dl>
	}

	@if (!string.IsNullOrWhiteSpace(operation.Description))
	{
		@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader("Description", "description", Model.Operation.Route)))
		<p>
			@(Model.RenderMarkdown(operation.Description))
		</p>
		@if (pageModel.ExternalDocs is not null)
		{
			<a href="@pageModel.ExternalDocs.Url" class="docs-reference-btn" @(pageModel.ExternalDocs.IsElasticDocs ? "" : "target=\"_blank\" rel=\"noopener\"")>
				@pageModel.ExternalDocs.LinkText
			</a>
		}
	}
	else if (pageModel.ExternalDocs is not null)
	{
		<a href="@pageModel.ExternalDocs.Url" class="docs-reference-btn" @(pageModel.ExternalDocs.IsElasticDocs ? "" : "target=\"_blank\" rel=\"noopener\"")>
			@pageModel.ExternalDocs.LinkText
		</a>
	}

	@if (operation.Security is { Count: > 0 })
	{
		<div class="security-requirements">
			<span class="security-label">Authorization:</span>
			@foreach (var requirement in operation.Security)
			{
				@foreach (var scheme in requirement)
				{
					<span class="security-scheme">
						<code>@scheme.Key.Name</code>
						@if (scheme.Value is { Count: > 0 })
						{
							<span class="security-scopes">(@string.Join(", ", scheme.Value))</span>
						}
					</span>
				}
			}
		</div>
	}

	@if (pageModel.QueryParameters.Count > 0)
	{
		@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader("Query String Parameters", "query-params", Model.Operation.Route)))
		<dl class="property-list">
			@foreach (var qp in pageModel.QueryParameters)
			{
				var qs = qp.Parameter;
				<div class="query-param @(qs.Deprecated == true ? "deprecated" : "")">
					<dt id="query-@qs.Name">
						<a href="#query-@qs.Name">
							<code>@qs.Name</code>
							@if (qp.Type is not null)
							{
								@(await RenderPartialAsync<_SchemaType, TypeAnnotation>(qp.Type))
							}
							@if (qs.Deprecated == true)
							{
								<span class="deprecated-badge">deprecated</span>
							}
						</a>
					</dt>
					<dd>@Model.RenderMarkdown(qs.Description)</dd>
					@if (qp.Type is not null)
					{
						@(await RenderPartialAsync<_ValidationConstraints, IReadOnlyList<ConstraintDisplay>>(qp.Constraints))
					}
				@if (qp.UnionOptions.Count > 0 && qp.EnumValues.Count == 0)
				{
					<dd class="union-options">
						<span class="values-label">One of:</span>
						@for (var optIndex = 0; optIndex < qp.UnionOptions.Count; optIndex++)
						{
							var unionOpt = qp.UnionOptions[optIndex];
							if (optIndex > 0)
							{
								<span class="union-inline-separator">or</span>
							}
							<code class="@(unionOpt.IsTypeOption ? "union-type-option" : "union-option")">@unionOpt.Text</code>
						}
					</dd>
				}
				@if (qp.EnumValues.Count > 0)
				{
					<dd class="enum-values">
						<span class="values-label">Values:</span>
						@foreach (var enumVal in qp.EnumValues)
						{
							<code class="enum-value">@enumVal</code>
						}
					</dd>
				}
				</div>
			}
		</dl>
	}
	@if (operation.RequestBody is not null)
	{
		@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader("Request Body", "request-body", Model.Operation.Route, pageModel.RequestContentType)))
		if (!string.IsNullOrEmpty(operation.RequestBody.Description))
		{
			<p>@Model.RenderMarkdown(operation.RequestBody.Description)</p>
		}

		if (pageModel.RequestProperties is not null)
		{
			@(await RenderPartialAsync<_PropertyList, ApiPropertyList>(pageModel.RequestProperties))
		}
		else if (pageModel.RequestType is not null)
		{
			<p>Type: @(await RenderPartialAsync<_SchemaType, TypeAnnotation>(pageModel.RequestType))</p>
		}
	}

	@if (pageModel.Responses.Count > 0)
	{
		var isSingleResponse = pageModel.Responses.Count == 1;
		var singleContentType = isSingleResponse ? pageModel.Responses[0].FirstContentType : null;

		@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader(isSingleResponse ? "Response" : "Responses", "responses", Model.Operation.Route, singleContentType)))
		@foreach (var response in pageModel.Responses)
		{
			<div class="response-section">
				@if (!isSingleResponse)
				{
					<h4>
						<span class="status-code status-@response.StatusClass">@response.StatusCode</span>
						@if (!string.IsNullOrEmpty(response.Response.Description))
						{
							<span class="response-description">@response.Response.Description</span>
						}
					</h4>
				}
				@if (response.Contents.Count > 0)
				{
					foreach (var content in response.Contents)
					{
						@if (!isSingleResponse)
						{
							<p class="content-type">Content-Type: <code>@content.ContentType</code></p>
						}

						if (content.Properties is not null)
						{
							@(await RenderPartialAsync<_PropertyList, ApiPropertyList>(content.Properties))
						}
						else if (content.ArrayItemProperties is not null)
						{
							// Array of objects - show the type annotation and render item properties
							<p>Response Type: @(await RenderPartialAsync<_SchemaType, TypeAnnotation>(content.Type))</p>
							@(await RenderPartialAsync<_PropertyList, ApiPropertyList>(content.ArrayItemProperties))
						}
						else
						{
							<p>Response Type: @(await RenderPartialAsync<_SchemaType, TypeAnnotation>(content.Type))</p>
						}
					}
				}
				@if (response.Headers.Count > 0)
				{
					<div class="response-headers">
						<h5>Response Headers</h5>
						<dl class="property-list">
							@foreach (var header in response.Headers)
							{
								<div class="header-item">
									<dt id="header-@response.StatusCode-@header.Name">
										<a href="#header-@response.StatusCode-@header.Name">
											<code>@header.Name</code>
											@if (header.Type != null)
											{
												@(await RenderPartialAsync<_SchemaType, TypeAnnotation>(header.Type))
											}
											@if (header.Header?.Required == true)
											{
												<span class="required">required</span>
											}
											@if (header.Header?.Deprecated == true)
											{
												<span class="deprecated-badge">deprecated</span>
											}
										</a>
									</dt>
									@if (!string.IsNullOrEmpty(header.Header?.Description))
									{
										<dd>@Model.RenderMarkdown(header.Header.Description)</dd>
									}
								</div>
							}
						</dl>
					</div>
				}
			</div>
		}
	}
	@{
		var codeSamples = pageModel.CodeSamples;
	}
	@if (codeSamples.Count == 1)
	{
		@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader("Code Examples", "code-examples", Model.Operation.Route)))
		<div class="example-block">
			<h4>@codeSamples[0].Language</h4>
			@(await RenderPartialAsync<_ApiCodeBlock, ApiCodeBlockModel>(new ApiCodeBlockModel(codeSamples[0].HighlightClass, codeSamples[0].Source)))
		</div>
	}
	else if (codeSamples.Count > 1)
	{
		@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader("Code Examples", "code-examples", Model.Operation.Route)))
		<div class="tabs">
			@for (var i = 0; i < codeSamples.Count; i++)
			{
				var sample = codeSamples[i];
				var tabId = $"code-sample-{i}";
				<input class="tabs-input" checked="@(i == 0 ? "checked" : "")" id="@tabId" name="code-samples" type="radio" tabindex="0">
				<label class="tabs-label" data-sync-id="@sample.Language" data-sync-group="api-language" for="@tabId">@sample.Language</label>
				<div class="tabs-content" tabindex="0">
					@(await RenderPartialAsync<_ApiCodeBlock, ApiCodeBlockModel>(new ApiCodeBlockModel(sample.HighlightClass, sample.Source)))
				</div>
			}
		</div>
	}
	@if (pageModel.ShowRequestExamples)
	{
		@(await RenderPartialAsync<_ExamplesSection, ExamplesSection>(new ExamplesSection(new SectionHeader("Request Examples", "request-examples", Model.Operation.Route), pageModel.RequestExamples)))
	}
	@if (pageModel.ShowResponseExamples)
	{
		@(await RenderPartialAsync<_ExamplesSection, ExamplesSection>(new ExamplesSection(new SectionHeader("Response Examples", "response-examples", Model.Operation.Route), pageModel.ResponseExamples)))
	}
	@if (pageModel.ExamplesAnchor != null)
	{
		<a href="#@pageModel.ExamplesAnchor" class="examples-jump-btn" id="examples-jump-btn">
			<span class="icon">&#x2193;</span>
			<span>Examples</span>
		</a>
	}
</section>
