@inherits RazorLayoutSlice<MarkdownLayoutViewModel>
@using Elastic.Markdown
@implements IUsesLayout<Elastic.Documentation.Site._GlobalLayout, GlobalLayoutViewModel>
@functions {
	public GlobalLayoutViewModel LayoutModel => Model;
	protected override async Task ExecuteSectionAsync(string name)
	{
		if (name == GlobalSections.Footer && Model.Layout is not MarkdownPageLayout.Archive)
		{
			//this ensures we forward footer sections declared in this project into to GlobalLayout view's section
			await RenderSectionAsync(GlobalSections.Footer);
		}

		if (name == GlobalSections.Head)
		{
			//this ensures we forward head sections declared in this project into to GlobalLayout view's section
			await RenderSectionAsync(GlobalSections.Head);
		}
	}
	private bool RenderHeaderAndFooter => Model.Layout is not MarkdownPageLayout.FullSearch;

	private async Task RenderDefault()
	{
		<div>
			<div class="w-full absolute top-0 left-0 right-0 htmx-indicator" id="htmx-indicator" role="status">
				<div class="progress w-full h-full bg-pink-70 left-right"></div>
				<div class="h-[2px] w-full overflow-hidden">
				</div>
				<div class="sr-only">Loading</div>
			</div>
			<div class="min-h-screen
						w-full
						max-w-(--max-layout-width)
						mx-auto
						px-4		
			">
				<div class="min-h-screen grid grid-cols-1 md:grid-cols-[var(--max-sidebar-width)_1fr] gap-4">
					@await RenderPartialAsync(_PagesNav.Create<GlobalLayoutViewModel>(Model))
					<main id="content-container" class="min-w-0 lg:grid lg:grid-cols-[minmax(0,var(--max-text-width))_minmax(0,var(--max-sidebar-width))] justify-end mx-4 gap-4">
						@await RenderPartialAsync(_TableOfContents.Create(Model))
						<div class="mt-16 mb-9 md:mt-0 min-w-0">
							@await RenderPartialAsync(_Breadcrumbs.Create(Model))
							<article id="markdown-content" class="markdown-content min-w-0">
								<input type="checkbox" class="hidden" id="pages-nav-hamburger">
								@await RenderBodyAsync()
							</article>
							@await RenderPartialAsync(_PrevNextNav.Create(Model))
						</div>
					</main>
				</div>
			</div>
		</div>
	}
}

@if (RenderHeaderAndFooter)
{
	if (Model.BuildType == BuildType.Assembler)
	{
		@(await RenderPartialAsync(_AssemblerHeader.Create<GlobalLayoutViewModel>(Model)))

	}
	else
	{
		@(await RenderPartialAsync(_IsolatedHeader.Create<GlobalLayoutViewModel>(Model)))
	}
}
<div id="main-container" class="@(RenderHeaderAndFooter ? "border-t-1 border-grey-20" : "")">
@switch (Model.Layout)
{
	case MarkdownPageLayout.NotFound:
		await RenderPartialAsync(_NotFound.Create(Model));
		break;
	case MarkdownPageLayout.LandingPage:
		await RenderPartialAsync(_LandingPage.Create(Model));
		break;
	case MarkdownPageLayout.Archive:
		await RenderPartialAsync(_Archive.Create(Model));
		break;
	case MarkdownPageLayout.FullSearch:
		await RenderPartialAsync(_FullSearch.Create(Model));
		break;
	default:
		await RenderDefault();
		break;
}
</div>
@if (RenderHeaderAndFooter)
{
	if (Model.BuildType == BuildType.Assembler)
	{
		@(await RenderPartialAsync(_AssemblerFooter.Create<GlobalLayoutViewModel>(Model)))
	}
	else
	{
		@(await RenderPartialAsync(_IsolatedFooter.Create<GlobalLayoutViewModel>(Model)))
	}
}
