@inherits RazorSlice<Elastic.Markdown.Myst.Components.ApplicableToViewModel>

@foreach (var item in Model.GetApplicabilityItems())
{
		<span class="applicable-info" data-tippy-content="@(new HtmlString(item.RenderData.TooltipText))">
			<span class="applicable-name">@item.Key</span>
			
			@if (!string.IsNullOrEmpty(item.Key) && (item.RenderData.ShowLifecycle || item.RenderData.ShowVersion))
			{
				<span class="applicable-separator"></span>
			}
			<span class="applicable-meta applicable-meta-@item.RenderData.LifecycleClass">
				@if (item.RenderData.ShowLifecycle)
				{
					<span class="applicable-lifecycle applicable-lifecycle-@item.RenderData.LifecycleClass">@item.Applicability.GetLifeCycleName()</span>
				}
				@if (item.RenderData.ShowVersion)
				{
					@if (item.RenderData.ShowVersion && item.RenderData.Version != item.RenderData.BadgeText)
					{
						<span class="applicable-version applicable-version-@item.RenderData.LifecycleClass">
							@item.Applicability.Version
						</span>
					}
					else
					{
						@item.RenderData.BadgeText
					}
				}
			</span>
		</span>
}
