@inherits RazorSlice<Elastic.Markdown.Myst.Components.ApplicableToViewModel>

@foreach (var item in Model.GetApplicabilityItems())
{
		<span class="applicable-info" data-tippy-content="@(new HtmlString(item.RenderData.TooltipText))">
			<span class="applicable-name">@item.Key</span>
			
			@if (!string.IsNullOrEmpty(item.Key) && (item.RenderData.ShowLifecycleName || item.RenderData.ShowVersion || !string.IsNullOrEmpty(item.RenderData.BadgeLifecycleText)))
			{
				<span class="applicable-separator"></span>
			}
			<span class="applicable-meta applicable-meta-@item.RenderData.LifecycleClass">
				@if (item.RenderData.ShowLifecycleName)
				{
					<span class="applicable-lifecycle applicable-lifecycle-@item.RenderData.LifecycleClass">@item.PrimaryApplicability.GetLifeCycleName()</span>
				}
				@if (item.RenderData.ShowVersion)
				{
					<span class="applicable-version applicable-version-@item.RenderData.LifecycleClass">
						@item.RenderData.Version
					</span>
				}
				else
				{
					@item.RenderData.BadgeLifecycleText
				}
				@if (item.RenderData.HasMultipleLifecycles)
				{
					<span class="applicable-ellipsis">
						<span class="applicable-ellipsis__dot"></span>
						<span class="applicable-ellipsis__dot"></span>
						<span class="applicable-ellipsis__dot"></span>
					</span>
				}
			</span>
		</span>
}
