@inherits RazorSlice<Elastic.ApiExplorer.Landing.LandingViewModel>
@using Elastic.ApiExplorer.Operations
@using Elastic.ApiExplorer.Landing;
@implements IUsesLayout<Elastic.ApiExplorer._Layout, Elastic.ApiExplorer.Infrastructure.ApiLayoutViewModel>
@functions {
	public ApiLayoutViewModel LayoutModel => Model.CreateGlobalLayoutModel();
}
<section id="elastic-docs-v3">
	<h1>@Model.ApiInfo.Title</h1>
	<p>@Model.RenderMarkdown(Model.ApiInfo.Description)</p>
	<p>License: @Model.ApiInfo.License?.Name</p>
	<div class="api-overview">
		<table>
			@foreach (var row in Model.OverviewRows)
			{
				switch (row.Kind)
				{
					case OverviewRowKind.ClassificationHeading:
					<tr>
						<td colspan="2"><h2>@(row.Title)</h2></td>
					</tr>
						break;
					case OverviewRowKind.TagHeading:
					<tr>
						<td colspan="2"><h3><a href="@row.Url" class="api-tag-landing-link">@row.Title</a></h3></td>
					</tr>
						break;
					case OverviewRowKind.Endpoint:
							<tr>
								<td class="api-name">@(row.Title)</td>
								<td>@(await RenderPartialAsync<_OperationUrlList, IReadOnlyCollection<OperationNavigationItem>>(row.Operations))</td>
							</tr>
						break;
					case OverviewRowKind.Operation:
					<tr>
						<td class="api-name">@(row.Title)</td>
						<td>@(await RenderPartialAsync<_OperationUrlList, IReadOnlyCollection<OperationNavigationItem>>(row.Operations))</td>
					</tr>
						break;
					case OverviewRowKind.SchemaCategoryHeading:
					<tr>
						<td colspan="2"><h3>@(row.Title)</h3></td>
					</tr>
						break;
					case OverviewRowKind.Schema:
					<tr>
						<td class="api-name"><a href="@row.Url">@(row.Title)</a></td>
						<td><code>@row.SchemaId</code></td>
					</tr>
						break;
					case OverviewRowKind.MarkdownPage:
					<tr>
						<td class="api-name"><a href="@row.Url">@(row.Title)</a></td>
						<td>Additional documentation</td>
					</tr>
						break;
				}
			}
		</table>
	</div>
</section>
