@inherits RazorSlice<Elastic.Markdown.Myst.CodeBlocks.CodeViewModel>
<div class="highlight-@Model.Language notranslate">
	<div class="highlight">
		@if (!string.IsNullOrEmpty(Model.Caption))
		{
			<div class="code-block-caption">
				<span class="caption-text">@Model.Caption</span>
				<a class="headerlink" href="@Model.CrossReferenceName" title="Link to this code">¶</a>
			</div>
		}
		<pre>
		@if (Model.ApiSegments.Count > 0)
		{
			@foreach (var segment in Model.ApiSegments)
			{
				<code class="language-apiheader">@segment.Header@(Model.RenderConsoleCallouts(segment.LineNumber))</code>
				@if (segment.ContentLines.Count > 0)
				{
					<code class="language-json">@string.Join("\n", segment.ContentLines)</code>
				}
			}
		}
		else
		{
			@(Model.RenderBlock())
		}
		</pre>
	</div>
</div>
