@inherits RazorSliceHttpResult<Elastic.ApiExplorer.Types.SchemaViewModel>
@implements IUsesLayout<Elastic.ApiExplorer._Layout, ApiLayoutViewModel>
@functions {
	public ApiLayoutViewModel LayoutModel => Model.CreateGlobalLayoutModel();
}
@{
	var schema = Model.Schema;
	var openApiSchema = schema.Schema;
	var pageModel = Model.Page;

	// Determine which sections exist
	var hasDescription = !string.IsNullOrEmpty(openApiSchema.Description);
	var hasEnum = openApiSchema.Enum is { Count: > 0 };
	var hasExample = openApiSchema.Example is not null;
}

<section id="schema-definition">
	<h1>@schema.DisplayName</h1>
	<p class="schema-id"><code>@schema.SchemaId</code></p>

	@if (!string.IsNullOrEmpty(pageModel.DictionaryTypeName))
	{
		<p class="schema-type-info">
			<span class="dict-icon">(map) </span>
			<code class="schema-type">@pageModel.DictionaryTypeName</code>
		</p>
		<p>This type represents a dictionary mapping string keys to <code>@schema.DisplayName</code> values.</p>
	}

	@if (hasDescription)
	{
		@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader("Description", "description")))
		<p>@Model.RenderMarkdown(openApiSchema.Description)</p>
		@if (pageModel.ExternalDocs is not null)
		{
			<a href="@pageModel.ExternalDocs.Url" class="docs-reference-btn" @(pageModel.ExternalDocs.IsElasticDocs ? "" : "target=\"_blank\" rel=\"noopener\"")>
				@pageModel.ExternalDocs.LinkText
			</a>
		}
	}
	else if (pageModel.ExternalDocs is not null)
	{
		<a href="@pageModel.ExternalDocs.Url" class="docs-reference-btn" @(pageModel.ExternalDocs.IsElasticDocs ? "" : "target=\"_blank\" rel=\"noopener\"")>
			@pageModel.ExternalDocs.LinkText
		</a>
	}

	@if (hasEnum)
	{
		@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader("Enum Values", "enum-values")))
		<ul class="enum-values">
			@foreach (var enumValue in openApiSchema.Enum!)
			{
				<li><code>@enumValue</code></li>
			}
		</ul>
	}

	@if (pageModel.OneOfVariants is not null)
	{
		@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader("Union Types (oneOf)", "union-types")))
		<p>This type can be one of the following:</p>
		@(await RenderPartialAsync<_UnionOptions, ApiUnionVariants>(pageModel.OneOfVariants))
	}

	@if (pageModel.AnyOfVariants is not null)
	{
		@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader("Union Types (anyOf)", "union-types")))
		<p>This type can be any of the following:</p>
		@(await RenderPartialAsync<_UnionOptions, ApiUnionVariants>(pageModel.AnyOfVariants))
	}

	@if (pageModel.Properties is not null)
	{
		@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader("Properties", "properties")))
		@(await RenderPartialAsync<_PropertyList, ApiPropertyList>(pageModel.Properties))
	}

	@if (pageModel.AdditionalPropertiesType is not null)
	{
		@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader("Additional Properties", "additional-properties")))
		<p>This type allows additional properties of type: @(await RenderPartialAsync<_SchemaType, TypeAnnotation>(pageModel.AdditionalPropertiesType))</p>
	}

	@if (hasExample)
	{
		@(await RenderPartialAsync<_SectionHeader, SectionHeader>(new SectionHeader("Example", "example")))
		@(await RenderPartialAsync<_ApiCodeBlock, ApiCodeBlockModel>(new ApiCodeBlockModel("language-json", openApiSchema.Example!.ToString()!)))
	}
</section>
