@using Elastic.Markdown.Helpers
@inherits RazorSlice<LayoutViewModel>
<ol id="breadcrumbs" class="block w-full" itemscope="" itemtype="https://schema.org/BreadcrumbList">
	<li class="inline text-ink text-sm hover:text-ink leading-[1.2em] tracking-[-0.02em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
		<a 
			itemprop="item"
			href="@Model.Link("/")"
			@Htmx.GetHxAttributes(Model.Features, Model.UrlPathPrefix, Model.Link("/"), Model.CurrentDocument.Url)
	>
			<span itemprop="name" class="hover:text-ink">Elastic</span>
		</a>
		<meta itemprop="position" content="1">
	</li>
	@foreach (var (item, index) in Model.Parents.Reverse().Skip(1).Select((item, index) => (item, index)))
	{
		<li class="inline text-gray-500 text-sm leading-[1.2em] tracking-[-0.02em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
			<span class="px-1">/</span>
			<a
				itemprop="item" 
				href="@item.Url"
				@Htmx.GetHxAttributes(Model.Features, Model.UrlPathPrefix, item.Url, Model.CurrentDocument.Url)
			>
				<span itemprop="name" class="hover:text-ink">@item.NavigationTitle</span>
			</a>
			<meta itemprop="position" content="@(index+2)">
		</li>
	}
	<li class="inline text-gray-500 text-sm leading-[1.2em] tracking-[-0.02em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
		<span class="px-1">/</span>
	</li>
</ol>
