@using Elastic.Markdown.Myst.Components
@inherits RazorSlice<Elastic.Markdown.Myst.Directives.Admonition.AdmonitionViewModel>
<div class="admonition @Model.Directive @Model.Classes" id="@Model.CrossReferenceName" open="@Model.Open">
	<div class="admonition-header">
		<span class="admonition-title">@Model.Title</span>
		@if (Model.AppliesTo is not null)
		{
			<span class="applies applies-admonition">
				@await RenderPartialAsync(ApplicableToComponent.Create(new ApplicableToViewModel
				{
					AppliesTo = Model.AppliesTo,
					Inline = true,
					ShowTooltip = true,
					VersionsConfig = Model.BuildContext.VersionsConfiguration
				}))
			</span>
			<span class="admonition-title__separator"></span>
		}
	</div>
	<div class="admonition-content">@Model.RenderBlock()</div>
</div>
